<div class="hero-image section">
  <img src="{{ section.settings.image | img_url: 'master' }}">

</div>

{% schema %}
  {
    "name": "Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    {

  "current": "Default",

  "presets": {

    "Default": {

      "sections": {

        "hero": {

          "type": "hero",

          "settings": {

          }

        }

      },

      "content_for_index": [

        "hero"

      ]

    }

  }

} 
  }
{% endschema %}